*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: red;
    height: 400px;
}

.container-div{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}

.parrafo{
    font-size: 15;
    font-weight: bold;
}
@media (max-width: 600px) {
    .container{
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-div{
        height: 250px;
        background-color: rgb(76, 0, 255);
    }

    .parrafo{
        text-align: center;
    }
}
@media (max-width: 900px) and (min-width: 600px){
    .container{
        background-color: rgb(50, 0, 131);
    }

    .parrafo{
        font-size: 20px;
        font-weight: 200px;
    }
}