p1 {
    color: brown;
    background-color: black;
}

p2 {
    color: blue;
    font-size: 130%;
}

#intro {
    color: white;
    background-color: blueviolet;
}

.primero{
    font-size: 300%;
}

#intro2
.segundo2 em{
    color: blueviolet;
    background-color: aqua;
}